USE [master]
GO
/****** Object:  Database [Andycabar]    Script Date: 9/14/2017 5:57:43 PM ******/
CREATE DATABASE [Andycabar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Andycabar', FILENAME = N'D:\inestaled\sql2016\MSSQL13.MSSQLSERVER\MSSQL\DATA\Andycabar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Andycabar_log', FILENAME = N'D:\inestaled\sql2016\MSSQL13.MSSQLSERVER\MSSQL\DATA\Andycabar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Andycabar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Andycabar]
GO
USE [Andycabar]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[UserId] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[UserId] [int] NOT NULL,
	[NationalCode] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[BankAcount] [nvarchar](50) NOT NULL,
	[StoreName] [nvarchar](300) NULL,
 CONSTRAINT [PK_Seller] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[VerificationCode] [int] NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Submit] [datetime] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Factors]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Factors]
AS
SELECT        dbo.[Transaction].Id, dbo.[Transaction].Amount, dbo.[Transaction].Submit, dbo.Seller.StoreName, dbo.[Transaction].CustomerId
FROM            dbo.[User] INNER JOIN
                         dbo.Customer ON dbo.[User].Id = dbo.Customer.UserId INNER JOIN
                         dbo.[Transaction] ON dbo.Customer.UserId = dbo.[Transaction].CustomerId INNER JOIN
                         dbo.Seller ON dbo.[User].Id = dbo.Seller.UserId AND dbo.[Transaction].SellerId = dbo.Seller.UserId AND dbo.[Transaction].CustomerId = dbo.Seller.BankAcount
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Barcode] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Profit]  AS ([CompanyCost]-[SalePrice]),
	[SalePrice] [decimal](12, 2) NOT NULL,
	[DetailedName] [nvarchar](150) NOT NULL,
	[CompanyCost] [decimal](12, 2) NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Business]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Logo] [varbinary](max) NULL,
 CONSTRAINT [PK_Business] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Image] [varbinary](max) NULL,
	[BusinessId] [int] NOT NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ProductSearch]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ProductSearch]
AS
SELECT        dbo.Product.Barcode, dbo.Product.Description, dbo.Product.Profit, dbo.Product.SalePrice, dbo.Product.CompanyCost, dbo.Product.DetailedName AS ProductName, dbo.Product.GroupId, dbo.[Group].Name AS GroupName, 
                         dbo.[Group].BusinessId, dbo.[Group].Image, dbo.Business.Name AS BusinessName, dbo.Business.Address, dbo.Business.Logo
FROM            dbo.[Group] INNER JOIN
                         dbo.Product ON dbo.[Group].Id = dbo.Product.GroupId INNER JOIN
                         dbo.Business ON dbo.[Group].BusinessId = dbo.Business.Id
GO
/****** Object:  Table [dbo].[Associtation_TransactionProduct]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Associtation_TransactionProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductBarcode] [varchar](50) NOT NULL,
	[TransactionId] [int] NOT NULL,
 CONSTRAINT [PK_Associtation_TransactionProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marketer]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marketer](
	[UserId] [int] NOT NULL,
	[NationalCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Marketer] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOfficer]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOfficer](
	[UserId] [int] NOT NULL,
	[NationalCode] [varchar](50) NOT NULL,
	[BusinessId] [int] NOT NULL,
 CONSTRAINT [PK_SalesOfficer] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemOprator]    Script Date: 9/14/2017 5:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemOprator](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_SystemOprator] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Associtation_TransactionProduct] ON 

INSERT [dbo].[Associtation_TransactionProduct] ([Id], [ProductBarcode], [TransactionId]) VALUES (5, N'88888888', 3)
INSERT [dbo].[Associtation_TransactionProduct] ([Id], [ProductBarcode], [TransactionId]) VALUES (6, N'12345678', 4)
INSERT [dbo].[Associtation_TransactionProduct] ([Id], [ProductBarcode], [TransactionId]) VALUES (13, N'33D4381', 5)
SET IDENTITY_INSERT [dbo].[Associtation_TransactionProduct] OFF
SET IDENTITY_INSERT [dbo].[Business] ON 

INSERT [dbo].[Business] ([Id], [Name], [Address], [Logo]) VALUES (1, N'Name1', N'Address1', NULL)
INSERT [dbo].[Business] ([Id], [Name], [Address], [Logo]) VALUES (2, N'reza rezaei', N'Tehran Address', NULL)
INSERT [dbo].[Business] ([Id], [Name], [Address], [Logo]) VALUES (3, N'Nima Heidari', N'Hamedan Address', NULL)
SET IDENTITY_INSERT [dbo].[Business] OFF
INSERT [dbo].[Customer] ([UserId], [Email]) VALUES (2, N'cus.ali@gmail.com')
INSERT [dbo].[Customer] ([UserId], [Email]) VALUES (6, N'ALIZADE@gmail.com')
INSERT [dbo].[Customer] ([UserId], [Email]) VALUES (13, N'abasali@yahoo.com')
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([Id], [Name], [Image], [BusinessId]) VALUES (1, N'ali', NULL, 1)
INSERT [dbo].[Group] ([Id], [Name], [Image], [BusinessId]) VALUES (2, N'reza', NULL, 2)
INSERT [dbo].[Group] ([Id], [Name], [Image], [BusinessId]) VALUES (3, N'akbar', NULL, 3)
SET IDENTITY_INSERT [dbo].[Group] OFF
INSERT [dbo].[Marketer] ([UserId], [NationalCode]) VALUES (4, N'1234567891')
INSERT [dbo].[Marketer] ([UserId], [NationalCode]) VALUES (9, N'8888888888')
INSERT [dbo].[Marketer] ([UserId], [NationalCode]) VALUES (14, N'6546546545')
INSERT [dbo].[Product] ([Barcode], [Description], [SalePrice], [DetailedName], [CompanyCost], [GroupId]) VALUES (N'12345678', N'Asghar', CAST(85.00 AS Decimal(12, 2)), N'Taheri', CAST(90.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Product] ([Barcode], [Description], [SalePrice], [DetailedName], [CompanyCost], [GroupId]) VALUES (N'33D4381', N'Reza', CAST(120.00 AS Decimal(12, 2)), N'Akbari', CAST(125.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Product] ([Barcode], [Description], [SalePrice], [DetailedName], [CompanyCost], [GroupId]) VALUES (N'88888888', N'abas', CAST(75.00 AS Decimal(12, 2)), N'Ashorloo', CAST(100.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[SalesOfficer] ([UserId], [NationalCode], [BusinessId]) VALUES (3, N'654123654', 1)
INSERT [dbo].[Seller] ([UserId], [NationalCode], [Address], [Location], [BankAcount], [StoreName]) VALUES (2, 1365488, N'Tehran shariati St', N'2,2', N'12456789123456', NULL)
INSERT [dbo].[Seller] ([UserId], [NationalCode], [Address], [Location], [BankAcount], [StoreName]) VALUES (8, 111111111, N'Hamedan Boali', N'7,7', N'123456123456', NULL)
INSERT [dbo].[Seller] ([UserId], [NationalCode], [Address], [Location], [BankAcount], [StoreName]) VALUES (10, 789456321, N'Esfahan', N'6,6', N'8888888888', NULL)
INSERT [dbo].[SystemOprator] ([Username], [Password]) VALUES (N'admin', N'admin')
INSERT [dbo].[SystemOprator] ([Username], [Password]) VALUES (N'ali', N'12345678')
INSERT [dbo].[SystemOprator] ([Username], [Password]) VALUES (N'rezaie', N'987654321')
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([Id], [Amount], [Submit], [CustomerId], [SellerId]) VALUES (3, CAST(850.00 AS Decimal(12, 2)), CAST(N'1998-01-01T00:00:00.000' AS DateTime), 2, 10)
INSERT [dbo].[Transaction] ([Id], [Amount], [Submit], [CustomerId], [SellerId]) VALUES (4, CAST(900.00 AS Decimal(12, 2)), CAST(N'1997-01-01T00:00:00.000' AS DateTime), 2, 11)
INSERT [dbo].[Transaction] ([Id], [Amount], [Submit], [CustomerId], [SellerId]) VALUES (5, CAST(626.00 AS Decimal(12, 2)), CAST(N'2014-09-14T06:08:02.640' AS DateTime), 6, 12)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Mobile], [Type], [VerificationCode], [Name]) VALUES (2, N'09388063351', N'Customer', 1203, N'MOhammadREza')
INSERT [dbo].[User] ([Id], [Mobile], [Type], [VerificationCode], [Name]) VALUES (3, N'09038113433', N'SalesOfficer', 3201, N'Nia HEY')
INSERT [dbo].[User] ([Id], [Mobile], [Type], [VerificationCode], [Name]) VALUES (4, N'09999999999', N'Marketer', 8765, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Barcode]  DEFAULT (substring(replace(CONVERT([varchar](36),newid()),'-',''),(0),(8))) FOR [Barcode]
GO
ALTER TABLE [dbo].[Transaction] ADD  CONSTRAINT [DF_Transaction_Submit]  DEFAULT (getdate()) FOR [Submit]
GO
ALTER TABLE [dbo].[Associtation_TransactionProduct]  WITH CHECK ADD  CONSTRAINT [FK_Associtation_TransactionProduct_Product] FOREIGN KEY([ProductBarcode])
REFERENCES [dbo].[Product] ([Barcode])
GO
ALTER TABLE [dbo].[Associtation_TransactionProduct] CHECK CONSTRAINT [FK_Associtation_TransactionProduct_Product]
GO
ALTER TABLE [dbo].[Associtation_TransactionProduct]  WITH CHECK ADD  CONSTRAINT [FK_Associtation_TransactionProduct_Transaction] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transaction] ([Id])
GO
ALTER TABLE [dbo].[Associtation_TransactionProduct] CHECK CONSTRAINT [FK_Associtation_TransactionProduct_Transaction]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Business] ([Id])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Business]
GO
ALTER TABLE [dbo].[Marketer]  WITH CHECK ADD  CONSTRAINT [FK_Marketer_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Marketer] CHECK CONSTRAINT [FK_Marketer_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Group]
GO
ALTER TABLE [dbo].[SalesOfficer]  WITH CHECK ADD  CONSTRAINT [FK_SalesOfficer_Business] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Business] ([Id])
GO
ALTER TABLE [dbo].[SalesOfficer] CHECK CONSTRAINT [FK_SalesOfficer_Business]
GO
ALTER TABLE [dbo].[SalesOfficer]  WITH CHECK ADD  CONSTRAINT [FK_SalesOfficer_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[SalesOfficer] CHECK CONSTRAINT [FK_SalesOfficer_User]
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_User]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Seller] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([UserId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Seller]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_User] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([UserId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "User"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Customer"
            Begin Extent = 
               Top = 4
               Left = 365
               Bottom = 100
               Right = 535
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Transaction"
            Begin Extent = 
               Top = 38
               Left = 672
               Bottom = 168
               Right = 842
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Seller"
            Begin Extent = 
               Top = 105
               Left = 260
               Bottom = 235
               Right = 430
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Factors'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'  End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Factors'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Factors'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Product"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Group"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Business"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 136
               Right = 832
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_ProductSearch'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_ProductSearch'
GO
USE [master]
GO
